.register {
    width: 500px;
    margin: 0 auto;
}

.register-button {
    width: 30%;
    background-color: #282c34;
    color: #61dafb;
    border-color:#61dafb;
    font-weight: bold;
    border-radius: 10px;

}

.register-button:hover {
    background-color: #61dafb;
    color: #282c34;
    border-color:#282c34;
}