.App-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #282c34;
    color: white;
    height:50px;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

.App-title {
    flex-grow:1;
    text-align: left;
    font-weight: bold;
    font-size: 17px;
    color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logout {
    font-size: 20px;
    padding-right:20px;
}
